@media only screen and (max-width:1199px){
    
}
@media only screen and (max-width:991px){
    .filter-section .filter-radio label {width:30%;}
}
@media only screen and (max-width:767px){
    
}

@media only screen and (max-width:640px){
    .filter-section .filter-radio label {width:40%;}
}

@media only screen and (max-width:480px){
    .filter-section .filter-radio label {width:50%;}
}

@media only screen and (max-width:360px){
    .filter-section .filter-radio label {width:100%;}
}