.unpaid_invoice_header{
 	background-image: linear-gradient(to right, #FF802B , #FFBF94);
	padding: 2% 5%;
}
.unpaid_invoice{
	width: 100%;
}
.unpaid_invoice_header .unpaid_invoice_title h5{
	color: #ffffff!important;
	text-transform: uppercase;
	text-align: left!important;
	position: relative;
	font-size: 15px;
}
.unpaid_invoice_header .unpaid_invoice_title h5 i{
	margin-right: 3%;
}
.mb-20{
	margin-bottom: 30px;
}
.unpaid_invoice_header .unpaid_invoice_title{
	position: relative;
}
.unpaid_invoice_header .unpaid_invoice_title ul{
	list-style: none;
	padding-left: 0px;
	text-align: left;
}
.unpaid_invoice_header .unpaid_invoice_title ul li{
	display: inline-block;
}
.unpaid_invoice_header .unpaid_invoice_title ul li.pay-now-btn h5{
	text-align: right!important;
}
.unpaid_invoice_header .unpaid_invoice_title ul li.pay-now-btn{
	width: 40%;
	float: right;
}
.border-bottom{
	border-bottom: 1px solid #a2a2a2;
	margin-top: 2%;
	margin-bottom: 3%;
}
.unpaid_invoice_header .unpaid_invoice_title ul li.pay-now-btn .pay_now{
	background: #000;
	color: #ffffff;
	padding: 2.5%;
	font-size: 12px;
}
.unpaid_invoice_content2{
	background: #ffffff;
	text-align: left;
	padding: 3%;
	position: relative;
	overflow-y: scroll;
	max-height: 255px;
	width: 100%;
}
.unpaid_invoice_content{
	background: #ffffff;
	text-align: left;
	padding: 3%;
	position: relative;
	overflow: hidden;
	height: 90px;
	width: 100%;
}
.unpaid_invoice_content p{
	position: relative;
	z-index: 22;
}
.unpaid_invoice_content2::-webkit-scrollbar {width: 5px;transition: 1s;} 
.unpaid_invoice_content2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
.unpaid_invoice_content2::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}