*{margin: 0px; padding: 0px;}
div,ul,li,h1,h2,h3,h4,h5,h6,p,nav,header,table,section,a,span,body,aside,input,button,select,option{margin: 0px; padding: 0px;}
a{background-color: inherit; color: inherit; text-decoration: none;}
a:hover{background-color: inherit; color: inherit; text-decoration: none;}
@font-face{
  src:url("../fonts/open-sans-regular.ttf");
  font-family: 'open_regular';
}
@font-face{
  src:url("../fonts/open-sans-light.ttf");
  font-family: 'open_light';
}
@font-face{
  src:url("../fonts/open-sans-semibold.ttf");
  font-family: 'open_semi';
}

.servers_tag{    color: #fff;
    font-size: 35px;
    text-align: center;}

body{font-family: open_semi;}

button{border-radius: 0px!important;}
.main .allpage_banner .title_h1{text-align: center; color: #FF802B; font-size: 50px; text-transform: uppercase; }
.main .allpage_banner .title_h1::after {content: ""; border: solid 2px #FF802B; display: block;margin: 0 auto;width: 140px; margin-top: 5px;}
.main .allpage_banner p{color: rgba(255,255,255,0.6); font-size: 15px;  text-align: center; margin-top: 10px;}
.main .allpage_banner a:hover{color: #FF802B; transition: all 0.4s;}
.main .panel-group .panel-heading{background-color: #FF802B; color: #fff; padding: 15px;}
.main .panel-group .panel-group .panel{border-radius: 0px;}
.main .panel-group .panel-heading{border-radius: 0px;}
.main .panel-group .panel{background-color: #F3F8F8; border: solid 1px #FF802B; border-radius: 0px; box-shadow: 0px;}
.main .panel-group .panel-title{font-size: 18px;}
.panel-group .panel + .panel{margin-top: 2px;}
.panel-group .fa-arrow-circle-up{display: none; float: right;}
.panel-group .fa-arrow-circle-down{float: right;}
.main .text_top{margin-top: 20px;}
/*main start*/

/*same css start*/
.main .btn_margin{margin-top: 20px;}
.main .padding_all{padding: 25px 0px;}
.main .h1_title{margin-bottom: 20px;}
.main .margin_top{margin-top: 60px;}
.main .paddin_bottom{padding-bottom: 70px;}
/*same css over*/
.main .top_header{background-color: #ff802b; width: 100%; height: auto;}
.main .top_header .join_to li{background: #ffbf94 none repeat scroll 0 0;transition: all 0.4s; display: inline-block; font-size: 13px; height: 30px; line-height: 25px;  margin-right: 3px; text-align: center; vertical-align: middle; width: 30px;}
.main .top_header .join_to a{color: #fff;font-size: 15px; margin-right: 0; text-align: center;vertical-align: middle;}
.main .top_header .join_to li:hover{background-color: #ff802b;}
.main .top_header .phone_ul{float: right; color: #fff;}
.main .top_header .phone_ul li{display: inline-block;background-color: #00423E; height: 30px; padding: 0px 10px; width: auto; font-size: 13px; line-height: 25px;  text-align: center; vertical-align: middle;}
.main .top_header .phone_ul li:hover{background-color: #FFBF94; transition: all 0.4s;}
.main .top_header .phone_ul span{color: #fff;font-size: 15px; margin-right: 0; text-align: center; transition: all 0.3s ease 0s;vertical-align: middle;}
.main .top_header .phone_ul .btn_login{background-color: transparent; transition: all 0.4s; border: solid 0px #000; color: #fff; padding: 0px 10px;}
.main .top_header .phone_ul .btn_login:hover {color: #00423E;}
/*main header start*/
.main header{text-align: center; height: auto; background: #fff; animation -webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
.img_margin{margin-top: 10px;}

.main header.sticky {position: fixed; height: auto; float: right; z-index: 10000; width: 100%;background: #fff;text-align: left;top: 0px;}

.main header .main_header .nav_bar{float: left; list-style-type: none; display: inline;}
.main header .main_header .nav_bar li{line-height: 70px; font-size: 20px; display: inline-block;}
.main header .main_header .nav_bar a{font-size: 17px; color: #FF802B;  padding: 8px 9px;text-decoration: none;	}
.box{height: 4000px; background-color: #fff777; width: 100%;}
.main header .main_header .img_margin{margin-top: 5px;}
.main header .main_header .fa-bars{color: #FF802B; font-size: 40px; display: none; float: right; margin-top: 20px;}
.main header .main_header .search_none{display: none;}
.main header .main_header .input_search{padding: 0px 10px; font-size: 20px; height: 40px; float: right; position: absolute; right: 260px;}
.main header .main_header .btn_search{background-color: #FF802B; color: #fff; border: 0px; padding: 10px; height: 40px; position: relative; bottom: 1px; float: right;}
.main header .main_header .fa-search, .fa-shopping-cart{color: rgba(51,51,51,0.5); cursor: pointer; font-size: 15px; margin-left: 10px; transition: all 0.4s;}
.main header .main_header .fa-search:hover{color: #000;}
.main header .main_header .fa-shopping-cart:hover{color: #000;}
.main header .main_header .nav_bar a {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.main header .main_header .nav_bar a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF802B;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.main header .main_header .nav_bar a:hover, .main header .main_header .nav_bar a:focus, .main header .main_header .nav_bar a:active {
  color: white;
}
.main header .main_header .nav_bar a:hover:before, .main header .main_header .nav_bar a:focus:before, .main header .main_header .nav_bar a:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.anim-slider{background-color: #FFF!important;}
/*main header over*/
/*search domain start*/
.main .domain_search{background-color: #FF802B; width: 100%; height: auto;}
.main .domain_search h3{color: #fff; font-size: 28px;}
.main .domain_search p{line-height: 22px; color: #fff; margin-top: 10px;}
.main .search_box input{height: 45px; width: 60%; font-size: 20px; padding: 10px; border: 0px; box-shadow: inset 0px 0px 5px #000; transition: all 0.4s;}
.main .search_box input:focus{background-color: #FFBF94;}
.main .search_box button{transition: all 0.4s; border: solid 5px #fff; background-color: #fff; color: #FF802B; padding: 5px 15px; font-size: 16px; border-radius: 0px; bottom: 4px; position: relative;}
.main .search_box button:hover{border: solid 5px #FFBF94; }
.main .domain_search h4{color: #fff; font-size: 20px;}
.main .domain_search h5{color: #fff; text-align: center; margin-top: 10px;}
.main .domain_search span{padding: 5px; transition: all 0.4s;}
.main .domain_search span:hover{background-color: rgba(0,0,0,0.6);}
.main .fa-chevron-circle-up{position: fixed; right: 30px; font-size: 30px; z-index: 10000; color: #7a5300; top: 550px;}
/*search domain over*/
/*domain use start*/
.main .h1_title{margin-bottom: 20px;}
.main .domain_style{background-color: #f3f8f8; width: 100%;}
.main .domain_style h5{font-size: 16px; color: #5F686F;}
.main .domain_style .domain_box{background-color: #FFBF94; transition: all 0.4s; height: auto; padding: 0px; color: #fff;}
.main .domain_style .domain_box:hover{box-shadow: 0px 0px 7px #000;}
.main .domain_style .title{background: #FF802B none repeat scroll 0 0;color: #fff;display: inline-block;margin-bottom: 35px;padding: 27px 0 15px;position: relative;width: 100%;}
.main .domain_style .title::after {border-left: 133px solid transparent;border-right: 133px solid transparent;border-top: 15px solid #FFBF94;bottom: 0px;content: "";height: 0;left: 0;top: 0px;position: absolute;width: 0;}
.main .domain_style .title::before {border-left: 133px solid transparent;border-right: 133px solid transparent;border-top: 15px solid #FF802B;bottom: -14px;content: "";height: 0;left: 0;position: absolute;width: 0;}
.main .domain_style .domain_box .domain_box_white{background-color: #FFBF94; padding-bottom: 15px;}
.main .domain_style .domain_box .domain_box_white h1{font-size: 40px; margin-bottom: 10px;}
.main .domain_style .domain_box .domain_ul{background-color: #FF802B; list-style-type: none; font-family: open_regular;}
.main .domain_style .domain_box .domain_ul li{border-bottom: 1px solid #FFBF94; padding: 8px 0px; font-size: 16px;}
.main .domain_style .domain_box .btn_order{transition: all 0.4s; text-transform: uppercase; margin: 10px 0px; border: solid 5px #fff; background-color: #fff; color: #FF802B; padding: 5px 15px; font-size: 16px;}
.main .domain_style .domain_box .btn_order:hover{border: solid 5px #FF802B; }
/*domain use over*/
/*help_line start*/
.main .help_line{/*background-color: #475056;*/ width: 100%; background-image: url(../images/mail.jpg); background-size: cover;}
.main .help_line h1{color: #FF802B;}
.main .help_line h4{color: #fff;}
.main .help_line .help_border{height: auto; border: solid 5px #fff; padding-bottom: 20px; }
.main .help_line .help_border:hover{border: solid 5px #FF802B; transition: all 0.4s;}
.main .help_line .help_border:hover .fa-phone::before{border: solid 8px #FF802B; transition: all 0.2s; box-shadow: inset 0px 0px 5px #000;}
.main .help_line .help_border:hover .fa-pencil::before{border: solid 8px #FF802B; transition: all 0.2s; box-shadow: inset 0px 0px 5px #000;}
.main .help_line .help_border:hover .fa-video-camera::before{border: solid 8px #FF802B; transition: all 0.2s; box-shadow: inset 0px 0px 5px #000;}
.main .help_line .help_border:hover .fa-certificate::before{border: solid 8px #FF802B; transition: all 0.2s; box-shadow: inset 0px 0px 5px #000;}
.main .help_line .help_border h3{margin-top: 70px; color: #FF802B;}
.main .help_line .help_border p{color: #FF802B; margin-top: 5px; font-family: 'open_regular'; padding: 0px 10px;}
.main .help_line .fa-phone::before {background-color: #fff; padding: 50px; border: solid 5px #fff;}
.main .help_line .fa-phone{font-size: 50px; color: #FF802B;}
.main .help_line .fa-pencil::before {background-color: #fff; padding: 50px; border: solid 5px #fff;}
.main .help_line .fa-pencil{font-size: 50px; color: #FF802B;}
.main .help_line .fa-video-camera::before {background-color: #fff; padding: 50px; border: solid 5px #fff;}
.main .help_line .fa-video-camera{font-size: 50px; color: #FF802B;}
.main .help_line .fa-certificate::before {background-color: #fff; padding: 50px; border: solid 5px #fff;}
.main .help_line .fa-certificate{font-size: 50px; color: #FF802B;}
/*help_line over*/
/*services start*/
.main .services{background-color: #FF802B;}
.main .services h2{color: #fff; font-size: 35px; text-align: left;}
.main .services .btn_upnow{background-color: #fff; border: solid 5px #fff; padding: 10px 20px; font-size: 18px; color: #FF802B; transition: all 0.4s;}
.main .services .btn_upnow:hover{border: solid 5px #FFBF94;}
/*services over*/
/*contact up start*/
.main .news{background-color: #F3F8F8; width: 100%; height: auto; padding-bottom: 70px;}
.main .news .help_box{background-color: #FF802B; width: 100%; height: auto; padding: 20px; box-shadow: -1px 9px 8px rgba(51,51,51,0.4);}
.fa-volume-control-phone{font-size: 40px!important;}
.main .news .help_box p{color: #fff; font-size: 16px;}
.main .news .help_box h2{color: #fff; margin-top: 10px; color: #fff; font-size: 40px;}
.main .news .help_box span{font-size: 18px;}
.main .news .help_box .input_phone{margin-top: 20px; width: 100%;}
.input_phone{padding: 10px 20px;}
/*contact up over*/
/*about page start*/
.main .allpage_banner_hosting{background-image: url(../images/banner.jpg); width: 100%; padding: 90px 0px; height: auto;}
.main .all_bg{background-color: #F3F8F8; width: 100%; height: auto;}
.main .all_bg .all_maintext{text-align: center;}
.main .all_bg .all_maintext p{text-align: center; text-transform: uppercase; font-size: 15px; text-decoration: underline; padding-bottom: 10px;}
.main .all_bg .all_maintext h3{text-align: center; text-transform: uppercase; font-size: 35px;}
.main .all_bg .all_maintext h3::after {content: ""; border: solid 3px #FF802B; display: block;margin: 0 auto;width: 80px; margin-top: 5px;}
.main .host_box{padding-bottom: 70px; background-color: #F3F8F8; margin-left: 0px!important; margin-right: 0px!important;}
.main .host_box .host_plan{background-color: #dadcdc; padding: 30px; height: 350px; transition: all 0.2s; color: #00423E;}
.main .host_box .host_plan:hover{background-color: #FF802B; color: #fff; transform: translateY(-10px);}
.main .host_box .host_plan h4{text-transform: uppercase; font-size: 25px; padding-bottom: 30px;}
.main .host_box .host_plan p{font-family: 'open_regular'; padding-bottom: 30px; line-height: 25px;}
.main .host_box .host_plan .btn_order{transition: all 0.4s; border: 0px; text-transform: uppercase; margin-top: 10px; border: solid 5px #fff; background-color: #fff; color: #FF802B; padding: 5px 15px; font-size: 16px;}
.main .host_box .host_plan .btn_order:hover{border: solid 5px #00423E; color: #00423E;}
.main .host_box .host_plan_side{background-color: #ededed; padding: 30px; height: 350px; transition: all 0.2s; color: #00423E;}
.main .host_box .host_plan_side:hover{background-color: #FF802B; color: #fff; transform: translateY(-10px);}
.main .host_box .host_plan_side h4{text-transform: uppercase; font-size: 25px; padding-bottom: 30px;}
.main .host_box .host_plan_side p{font-family: 'open_regular'; padding-bottom: 30px; line-height: 25px;}
.main .host_box .host_plan_side .btn_order{transition: all 0.4s; border: 0px; text-transform: uppercase; margin-top: 10px; border: solid 5px #fff; background-color: #fff; color: #FF802B; padding: 5px 15px; font-size: 16px;}
.main .host_box .host_plan_side .btn_order:hover{border: solid 5px #00423E; color: #00423E;}
/*about page over*/
/*contact start*/
.main .allpage_banner_contact{background-image: url(../images/contactus.jpg); background-size: 100% 100%; width: 100%; padding: 90px 0px; height: auto;}
.main .all_main{background-color: #F3F8F8;}
.main .all_main .contact_box{height: 200px; border-bottom: solid 3px #F3F8F8; border-top: solid 3px #F3F8F8; padding: 30px;}
.main .all_main .contact_box:hover{border-bottom: solid 3px #FF802B; border-top: solid 3px #FF802B;}
.main .all_main .fa-phone{color: #FF802B; font-size: 50px; margin-bottom: 20px;}
.main .all_main .fa-envelope{color: #FF802B; font-size: 50px; margin-bottom: 20px;}
.main .all_main .fa-map-marker{color: #FF802B; font-size: 50px; margin-bottom: 20px;}
.main .all_main p{line-height: 25px; color: #00423E; font-size: 15px; font-family: 'open_light';}
.main .all_white{background-color: #fff; width: 100%;}
.main .contact_box_input .input_all{    background: #fff none repeat scroll 0 0;
    color: #00423E;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px 0 hsl(0, 0%, 93%) inset;
    margin-bottom: 10px;
    padding: 3px 10px;
    width: 100%;
    float: left;
    border-radius: 5px;}
.main .contact_box_input {font-family: 'open_light'; font-size: 16px; background-color: #F3F8F8; padding: 40px;}
.main .contact_box_input label{color: #00423E; font-weight: normal!important;}
.main .contact_box_input label.error{color: red;}
.main .contact_box_input input:focus{background-color: #fff;}
.main .contact_box_input .btn_margin{margin-top: 15px; font-weight: bold;}
.main .map_contact{padding: 50px;}
/*contact over*/
/*login start*/
.main .allpage_banner_login{background-image: url(../images/login.jpg); width: 100%; padding: 90px 0px; height: auto;}
.main .login_box{background-color: #FF802B; padding: 20px 50px;}
.main .footer_login_box{padding: 10px; background-color: #FF802B;}
.main .login_box .btn_margin{margin: 10px 0px;}
.main .login_box h3{color: #fff; font-size: 30px;}
.main .contact_box_input p{font-size: 20px;}
.main .contact_box_input option{padding-left: 15px;}
/*login over*/
/*forgotpass start*/
.main .allpage_banner_forgot{background-image: url(../images/forgot.jpg); width: 100%; padding: 90px 0px; height: auto;}
.main .contact_box_input p{color: #FF802B;}
/*forgotpass over*/
/*register start*/
.main .allpage_banner_register{background-image: url(../images/register.jpg); width: 100%; padding: 90px 0px; height: auto;}
/*register over*/
/*term start*/
.main .allpage_banner_term{background-image: url(../images/register.jpg); width: 100%; padding: 90px 0px; height: auto;}
.main .term_all h2{color: #00403C;background-color: #00423E; padding: 15px; color: #fff;}
.main .term_all .box_aside{background-color: #F3F8F8; padding: 20px;}
/*term over*/
/*privacy start*/
.main .allpage_banner_privacy{background-image: url(../images/lock.jpg); width: 100%; padding: 90px 0px; height: auto;}
.main .privacypolicy_ul{list-style-type: none;}
.main .privacypolicy_ul li{font-size: 18px; padding: 10px 15px;; background-color: #F3F8F8; border-bottom: 1px #fff solid;}
.main .privacypolicy_ul li:hover{background-color: #E9E9E9; transition: all 0.4s;}
.main .h3_back{background-color: #00423E; padding: 10px 15px; color: #fff;}
.main .privacypolicy_all p{font-size: 16px; line-height: 25px; text-align: justify; margin-bottom: 20px;}
.main .text_p{background-color: #F2F6F6; padding: 20px; box-shadow: 0px 0px 2px #000;}
.main .text_p h3{text-decoration: underline; color: #FF802B; margin-bottom: 20px;}
/*privacy over*/
/*support start*/
.main .allpage_banner_support{background-image: url(../images/support.jpg); background-repeat: no-repeat; width: 100%; background-size: 100%; padding: 90px 0px; height: auto;}
.main .support_box{background-color: #EDEDED; padding: 0px 30px 20px 30px; height: 285px;}
.main .support_box:hover .fa::before{bottom: 25px; background-color: #FF802B;}
.main .support_box h2{margin-top: 40px; color: #00423E;}
.main .support_box p{color: #00423E; line-height: 25px; margin: 20px 0px; font-family: 'open_regular';}
.main .support_box h5{line-height: 25px; 'open_light'; color: #FF802B;}
.main .support_box a:hover{color: #00423E; transition: all 0.4s;}
.main .support_box span{color: #00423E;}
.main .support_box .fa::before{transition: all 0.4s; background-color: #B4B4B4; padding: 25px; color: #fff; position: relative; bottom: 15px;}
.main .support_box .fa{font-size: 30px;}
.main .support_box .btn_chat{transition: all 0.4s; text-transform: uppercase; margin: 10px 0px; border: solid 5px #fff; background-color: #fff; color: #FF802B; padding: 5px 15px; font-size: 16px;}
.main .support_box .btn_chat:hover{border: solid 5px #FF802B; }
.main .panel_row h2{color: #00423E; text-align: center; margin-bottom: 30px;}
/*support over*/
/*testimonial start*/
.main .allpage_banner_support{background-image: url(../images/testimonial.jpg); background-repeat: no-repeat; width: 100%; background-size: 100%; padding: 90px 0px; height: auto;}
.main .testimonial_all h2{color: #00423E; text-align: center; margin-bottom: 30px;}
.main .testimonial_all .support_box{height: auto;}
.main .testimonial_all .support_box:hover .img_test{bottom: 60px; background-color: #FF802B;}
.main .support_box .img_test{transition: all 0.4s; background-color: #B4B4B4; padding-top: 20px; color: #fff; position: relative; width: 40%; left: 30%; bottom: 50px;}
.main .testimonial_all .margin_top{margin-top: 80px;}
.main .testimonial_all .support_box h2{margin: 0px;}
.main .testimonial_all .support_box h6{margin-top: 5px; color: #FF802B}
.main .testimonial_all .support_box p{text-align: justify; font-family: 'open_regular';}
.main .support_box .img_test img{} 
/*testimonial over*/
/*about start*/
.main .allpage_banner_about{background-image: url(../images/about.jpg); background-repeat: no-repeat; width: 100%; background-size: 100%; padding: 90px 0px; height: auto;}
.main .about_all .support_box:hover .img_test{bottom: 60px; background-color: #FF802B;}
.main .about_all .support_box .img_test{transition: all 0.4s; padding: 20px; color: #fff; position: relative; width: 40%; left: 30%; bottom: 50px;}
.main .about_all .support_box h2{font-size: 20px;}
.main .about_all{background-color: #F3F8F8; height: auto; width: 100%;}
.main .back_about{background-color: #FF802B; padding: 20px;}
.main .about_all .fa{font-size: 70px; color: #fff; padding: 40px;}
.main .about_all .white_about::before{border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(0, 0%, 100%);left: 100%;top: 24px;}
.main .about_all .white_about{background-color: #fff; height: auto; padding: 20px;}
.main .about_all .white_about h3{text-align: justify; color: #FF802B; margin-bottom: 20px;}
.main .about_all .white_about p{text-align: justify; font-family: 'open_regular'; margin-bottom: 20px;}
/*about over*/
/*email start*/
.main .allpage_banner_email{background-image: url(../images/email.jpg); background-repeat: no-repeat; width: 100%; padding: 90px 0px; height: auto;}
.main .all_email{background-color: #F3F8F8; height: auto; width: 100%;}
.main .all_email .email_white{background-color: #fff; height: auto;}
.main .all_email .email_white .email_light{background-color: #EDEDED; padding: 20px;}
.main .all_email .email_white .email_light .form-group, .group-form{padding: 10px; background-color: #EEEEEE;}
.main .all_email .email_white .email_light  input{font-size: 15px; padding: 5px 10px;}
.main .all_email .email_white .email_light table td{font-size: 18px;}
.main .all_email .email_white .email_light span{color: #FF802B; font-size: 30px;}
.main .all_email .email_white .email_light .btn_order{transition: all 0.4s; text-transform: uppercase; margin: 10px 0px; border: solid 5px #fff; background-color: #fff; color: #FF802B; padding: 5px 15px; font-size: 16px;}
.main .all_email .email_white .email_light .btn_order:hover{border: solid 5px #FF802B; }
.main .all_email .email_white .padding_p{text-align: justify; font-family: 'open_regular'; padding: 20px;}
.main .all_email .email_white .padding_p .fa-check{color: #FF802B;}
.main .all_email .email_white .padding_p span{font-size: 20px; line-height: 30px;}
.main .all_email .email_color_one{background-color: #dadcdc; padding: 20px;}
.main .all_email .email_color_two:hover{background-color: #FF802B; transition: all 0.4s;}
.main .all_email .email_color_two:hover h5{color: #fff;}
.main .all_email .email_color_two:hover p{color: #fff;}
.main .all_email .email_color_two:hover .fa-check-square-o{color: #fff;}
.main .all_email .email_color_one:hover{background-color: #FF802B; transition: all 0.4s;}
.main .all_email .email_color_one:hover h5{color: #fff;}
.main .all_email .email_color_one:hover p{color: #fff;}
.main .all_email .email_color_one:hover .fa-check-square-o{color: #fff;}
.main .all_email .email_color_one h5{color: #00423E; font-size: 18px; margin-bottom: 10px;}
.main .all_email .email_color_one p{color: #00423E; text-align: justify; font-family: 'open_light'; font-size: 16px;}
.main .all_email .email_color_two{background-color: #ededed; padding: 20px;}
.main .all_email .email_color_two h5{color: #00423E; font-size: 18px; margin-bottom: 10px;}
.main .all_email .email_color_two p{color: #00423E; text-align: justify; font-family: 'open_light'; font-size: 16px;}
.main .all_email .fa-check-square-o{font-size: 35px; color: #FF802B;}
/*email over*/
/*blog start*/
.main .allpage_banner_blog{background-image: url(../images/blog.jpg); background-repeat: no-repeat; width: 100%; padding: 90px 0px; height: auto;}
.main .all_blog .img_test{left: 14%; background-color: inherit; padding: 0px;}
.main .all_blog h2{font-size: 20px;}
.main .all_blog .color_blog{background-color: hsl(0, 0%, 71%); padding: 10px 20px;}
.main .all_blog .color_blog .blog_ul{list-style-type: none; color: #fff; border-bottom: solid 1px #fff; padding-bottom: 5px;}
.main .all_blog .color_blog .blog_ul li{display: inline; font-family: 'open_light'; font-size: 16px; color: #fff;}
.main .all_blog .color_blog .btn_order{transition: all 0.4s; text-transform: uppercase; margin: 10px 0px; border: solid 5px #fff; background-color: #fff; color: #FF802B; padding: 5px 15px; font-size: 16px;}
.main .all_blog .color_blog .btn_order:hover{border: solid 5px #FF802B; }
/*blog over*/
/*bloginner start*/
.main .all_bloginner{background-color: #FFFFFF; height: auto; font-family: 'open_regular';}
.main .all_bloginner .text_top{float: left;}
.main .all_bloginner .text_social{float: left; }
.main .all_bloginner .text_social h3{text-decoration: underline;}
.main .all_bloginner .text_social .ul_social{list-style-type: none; margin-top: 10px;}
.main .all_bloginner .text_social .ul_social li{display: inline-block; font-size: 15px; height: 40px; width: 40px; background-color: #00423E; color: #fff; text-align: center; vertical-align: middle; line-height: 40px;}
.main .all_bloginner .text_social .ul_social li:hover{background-color: #FF802B; transition: all 0.4s;}
.main .all_bloginner .text_social .ul_social li a{display: inline-block; font-size: 18px;}
.main .all_bloginner .text_social .ul_social li a:hover{color: inherit;}
.main .all_bloginner .contact_box_input h3{margin-bottom: 20px;}
/*.main .all_bloginner .text_social .ul_social .fa-facebook{background-color: #3B579D; padding: 10px;}
.main .all_bloginner .text_social .ul_social .fa-twitter{background-color: #57ACED; padding: 10px;}
.main .all_bloginner .text_social .ul_social .fa-google-plus{background-color: #DC4B3F; padding: 10px;}
.main .all_bloginner .text_social .ul_social .fa-info{background-color: #465CD5; padding: 10px;}*/
.main .all_bloginner .text_top a{font-size: 18px;}
.main .all_bloginner .text_top a:hover{color: #FF802B;transition: all 0.4s; text-decoration: underline;}
.main .all_bloginner .text_top p{margin-top: 5px;}
.contact_box_input .btn_order{transition: all 0.4s; text-transform: uppercase; margin: 10px 0px; border: solid 5px #fff; background-color: #fff; color: #FF802B; padding: 10px 15px; font-size: 16px;}
.contact_box_input .btn_order:hover{border: solid 5px #FF802B; }
/*bloginner over*/
/*domain start*/
.main .allpage_banner_domain{background-image: url(../images/domain.jpg); background-repeat: no-repeat; width: 100%; padding: 90px 0px; height: auto;}
.main .all_domain{background-color: #fff; height: auto; width: 100%;}
.main .all_domain .domain_box{background-color: #FF802B; height: auto; width: 100%;}
.main .all_domain .domain_box h3{color: #fff; font-size: 55px; text-align: center; margin-bottom: 10px;}
.main .all_domain .domain_box p{color: #fff; font-size: 15px; text-align: center; }
.main .search_domain_box{height: 70px;}
.main .search_domain_box input{height: 70px; width: 68%; font-size: 20px; padding: 10px; border: 0px; box-shadow: inset 0px 0px 5px #000; transition: all 0.4s;}
.main .search_domain_box input:focus{background-color: #FFBF94;}
.main .search_domain_box .select_op{height: 70px; position: relative; margin-left: 1%; width: 12%; padding: 10px; font-size: 20px;}
.main .search_domain_box .select_op option{padding: 0px 10px;}
.main .search_domain_box .btn_order{transition: all 0.4s; margin-left: 1%; height: 70px; border: solid 5px #fff; background-color: #fff; color: #FF802B; padding: 5px 15px; font-size: 19px; border-radius: 0px; bottom: 2px; position: relative;}
.main .search_domain_box .btn_order:hover{border: solid 5px #FFBF94; }
.main .all_domain .color_domain_one{background-color: hsl(180, 3%, 86%); padding: 20px; height: auto;  color: #00423E;}
.main .all_domain .color_domain_one h3{font-size: 30px; }
.main .all_domain .color_domain_one h2{font-size: 30px; }
.main .all_domain .color_domain_one p{font-size: 15px; margin: 8px 0px;}
.main .all_domain .color_domain_one h6{font-size: 12px; color: #FF802B; margin-top: 8px; }
.main .all_domain .color_domain_one:hover h6{color: #fff;}
.main .all_domain .color_domain_one:hover {color: #fff; transition: all 0.2s;}
.main .all_domain .color_domain_one:hover{background-color: #FE8331; transition: all 0.2s; transform: translateY(-10px);}
.main .all_domain .color_domain_two{background-color: hsl(0, 0%, 93%); padding: 20px; height: auto;  color: #00423E;}
.main .all_domain .color_domain_two:hover{background-color: #FE8331; transition: all 0.2s; transform: translateY(-10px);}
.main .all_domain .color_domain_two:hover{color: #fff; transition: all 0.2s;}
.main .all_domain .color_domain_two:hover h6{color: #fff;}
.main .all_domain .color_domain_two h3{font-size: 30px;}
.main .all_domain .color_domain_two h2{font-size: 30px;}
.main .all_domain .color_domain_two p{font-size: 15px;margin: 8px 0px;}
.main .all_domain .color_domain_two h6{font-size: 12px; margin-top: 8px; color: #FF802B;}
.main .all_domain .text_h3 i{float: left; margin-right: 10px; font-size: 40px; color: #FF802B;}
.main .all_domain .text_h3 {color: #00423E; font-family: 'open_light'; font-size: 20px;}

/*domain over*/
/*footer start*/
.main footer{background-color: #00423E; width: 100%; height: auto; color: #fff;}
.main footer h3{margin-bottom: 20px;}
.main footer p{color: rgba(255,255,255,0.8); transition: all 0.4s;}
.main footer p:hover {color: rgb(255,255,255);}
.main footer a:hover{color: #fff; transition: all 0.4s;}
.main footer ul{list-style-type: none;}
.main footer ul li{line-height: 25px; color: rgba(255,255,255,0.8);}
.main footer .fa-envelope, .fa-phone, .fa-skype{font-size: 20px;}
.main footer span{line-height: 35px;}
.main footer span:hover {color: #FF802B;}
.main footer .footer_down{background-color: #FF802B; width: 100%; height: auto;padding: 10px;}
/*footer over*/
/*main over*/

/*slider css*/
.sl-slider-wrapper {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.sl-slider {
  position: absolute;
  top: 0;
  left: 0;
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} 

.sl-slide {
  z-index: 1;
}

/* The duplicate parts/slices */

.sl-content-slice {
  overflow: hidden;
  position: absolute;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
  width: 100%;
  height: 50%;
  left: -200px;
  -webkit-transform: translateY(0%) scale(1);
  -moz-transform: translateY(0%) scale(1);
  -o-transform: translateY(0%) scale(1);
  -ms-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
  top: -200px;
  padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
  top: 50%;
  padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
  width: 50%;
  height: 100%;
  top: -200px;
  -webkit-transform: translateX(0%) scale(1);
  -moz-transform: translateX(0%) scale(1);
  -o-transform: translateX(0%) scale(1);
  -ms-transform: translateX(0%) scale(1);
  transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
  left: -200px;
  padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
  left: 50%;
  padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
  position: absolute;
}

.sl-content {
  width: 100%;
  height: 100%;
  background: #fff;
}

/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
  background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
  background: #ccc;
}
.demo-1 .sl-slider-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.demo-2 .sl-slider-wrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.demo-2 .sl-slider h2,
.demo-2 .sl-slider blockquote {
  padding: 100px 30px 10px 30px;
  width: 80%;
  max-width: 960px;
  color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

.demo-2 .sl-slider h2 {
  font-size: 100px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

.demo-2 .sl-slider blockquote {
  font-size: 28px;
  padding-top: 10px;
  font-weight: 300;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}

.demo-2 .sl-slider blockquote cite {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 30px;
  display: inline-block;
}

.demo-2 .bg-img {
  padding: 200px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: -200px;
  left: -200px;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* Custom navigation arrows */

.nav-arrows span {
  position: absolute;
  z-index: 2000;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 8px solid #ddd;
  border: 8px solid rgba(150,150,150,0.4);
  text-indent: -90000px;
  margin-top: -40px;
  cursor: pointer;
  
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-arrows span:hover {
  border-color: rgba(150,150,150,0.9);
}

.nav-arrows span.nav-arrow-prev {
  left: 5%;
  border-right: none;
  border-top: none;
}

.nav-arrows span.nav-arrow-next {
  right: 5%;
  border-left: none;
  border-bottom: none;
}

/* Custom navigation dots */

.nav-dots {
  text-align: center;
  position: absolute;
  bottom: 2%;
  height: 30px;
  width: 100%;
  left: 0;
  z-index: 1000;
}

.nav-dots span {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 3px;
  background: #ddd;
  background: rgba(150,150,150,0.4);
  cursor: pointer;
  box-shadow: 
    0 1px 1px rgba(255,255,255,0.4), 
    inset 0 1px 1px rgba(0,0,0,0.1);
}

.demo-2 .nav-dots span {
  background: rgba(150,150,150,0.1);
  margin: 6px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 
    0 1px 1px rgba(255,255,255,0.4), 
    inset 0 1px 1px rgba(0,0,0,0.1),
    0 0 0 2px rgba(255,255,255,0.5);
}

.demo-2 .nav-dots span.nav-dot-current,
.demo-2 .nav-dots span:hover {
  box-shadow: 
    0 1px 1px rgba(255,255,255,0.4), 
    inset 0 1px 1px rgba(0,0,0,0.1),
    0 0 0 5px rgba(255,255,255,0.5);
}

.nav-dots span.nav-dot-current:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  background: rgba(255,255,255,0.8);
}

/* Content elements */

.demo-1 .deco {
  width: 260px;
  height: 260px;
  border: 2px dashed #ddd;
  border: 2px dashed rgba(150,150,150,0.4);
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin: 0 0 0 -130px;
}
.side_panel{
	 min-height: 70vh;
     height: 100%;
	}
	#container {
		margin: 10px;
		border: 1px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
		padding:0.5em;
	}
	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}
.demo-1 [data-icon]:after {
    content: attr(data-icon);
    font-family: 'AnimalsNormal';
  color: #999;
  text-shadow: 0 0 1px #999;
  position: absolute;
  width: 220px;
  height: 220px;
  line-height: 220px;
  text-align: center;
  font-size: 100px;
  top: 50%;
  left: 50%;
  margin: -110px 0 0 -110px;
  box-shadow: inset 0 0 0 10px #f7f7f7;
  border-radius: 50%;
}

.demo-1 .sl-slide h2 {
  color: #000;
  text-shadow: 0 0 1px #000;
  padding: 20px;
  position: absolute;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 13px;
  text-transform: uppercase;
  width: 80%;
  left: 10%;
  text-align: center;
  line-height: 50px;
  bottom: 50%;
  margin: 0 0 -120px 0;
}

.demo-1 .sl-slide blockquote {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  height: 70px;
  color: #8b8b8b;
  z-index: 2;
  bottom: 50%;
  margin: 0 0 -200px 0;
  padding: 0;
}

.demo-1 .sl-slide blockquote p{
  margin: 0 auto;
  width: 60%;
  max-width: 400px;
  position: relative;
}

.demo-1 .sl-slide blockquote p:before {
  color: #f0f0f0;
  color: rgba(244,244,244,0.65);
  font-family: "Bookman Old Style", Bookman, Garamond, serif;
  position: absolute;
  line-height: 60px;
  width: 75px;
  height: 75px;
  font-size: 200px;
  z-index: -1;
  left: -80px;
  top: 35px;
  content: '\201C';
}

.demo-1 .sl-slide blockquote cite {
  font-size: 10px;
  padding-top: 10px;
  display: inline-block;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* Custom background colors for slides in first demo */

/* First Slide */
.demo-1 .bg-1 .sl-slide-inner,
.demo-1 .bg-1 .sl-content-slice {
  background: #fff;
}
.tiles .tile {
    padding: 12px 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
}
.tile .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 48px;
    line-height: 1;
    color: #ccc;
}
.tile .stat {
    margin-top: 20px;
    font-size: 40px;
    line-height: 1;
}
.tile .title {
    font-weight: bold;
    color: #888;
    text-transform: uppercase;
    font-size: 12px;
}
.tiles .tile .highlight {
    margin-top: 4px;
    height: 2px;
    border-radius: 2px;
}
.tiles .tile a {
    text-decoration: none;
}
/* Second Slide */
.demo-1 .bg-2 .sl-slide-inner,
.demo-1 .bg-2 .sl-content-slice {
  background: #000;
}

.demo-1 .bg-2 [data-icon]:after,
.demo-1 .bg-2 h2 {
  color: #fff;
}

.demo-1 .bg-2 blockquote:before {
  color: #222;
}

/* Third Slide */
.demo-1 .bg-3 .sl-slide-inner,
.demo-1 .bg-3 .sl-content-slice {
  background: #db84ad;
}

.demo-1 .bg-3 .deco {
  border-color: #fff;
  border-color: rgba(255,255,255,0.5);
}

.demo-1 .bg-3 [data-icon]:after {
  color: #fff;
  text-shadow: 0 0 1px #fff;
  box-shadow: inset 0 0 0 10px #b55381;
}

.demo-1 .bg-3 h2,
.demo-1 .bg-3 blockquote{
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.demo-1 .bg-3 blockquote:before {
  color: #c46c96;
}

/* Forth Slide */
.demo-1 .bg-4 .sl-slide-inner,
.demo-1 .bg-4 .sl-content-slice {
  background: #5bc2ce;
}

.demo-1 .bg-4 .deco {
  border-color: #379eaa;
}

.demo-1 .bg-4 [data-icon]:after {
  text-shadow: 0 0 1px #277d87;
  color: #277d87;
}

.demo-1 .bg-4 h2,
.demo-1 .bg-4 blockquote{
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.demo-1 .bg-4 blockquote:before {
  color: #379eaa;
}

/* Fifth Slide */
.demo-1 .bg-5 .sl-slide-inner,
.demo-1 .bg-5 .sl-content-slice {
  background: #ffeb41;
}

.demo-1 .bg-5 .deco {
  border-color: #ECD82C;
}

.demo-1 .bg-5 .deco:after {
  color: #000;
  text-shadow: 0 0 1px #000;
}

.demo-1 .bg-5 h2,
.demo-1 .bg-5 blockquote{
  color: #000;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.demo-1 .bg-5 blockquote:before {
  color: #ecd82c;
}

.demo-2 .bg-img-1 {
  background-image: url(../images/1.jpg);
}
.demo-2 .bg-img-2 {
  background-image: url(../images/2.jpg);
}
.demo-2 .bg-img-3 {
  background-image: url(../images/3.jpg);
}
.demo-2 .bg-img-4 {
  background-image: url(../images/4.jpg);
}
.demo-2 .bg-img-5 {
  background-image: url(../images/5.jpg);
}

/* Animations for content elements */

.sl-trans-elems .deco{
  -webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  -moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  -o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  -ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
  animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2{
  -webkit-animation: moveUp 1s ease-in-out both;
  -moz-animation: moveUp 1s ease-in-out both;
  -o-animation: moveUp 1s ease-in-out both;
  -ms-animation: moveUp 1s ease-in-out both;
  animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote{
  -webkit-animation: fadeIn 0.5s linear 0.5s both;
  -moz-animation: fadeIn 0.5s linear 0.5s both;
  -o-animation: fadeIn 0.5s linear 0.5s both;
  -ms-animation: fadeIn 0.5s linear 0.5s both;
  animation: fadeIn 0.5s linear 0.5s both;
}
.sl-trans-back-elems .deco{
  -webkit-animation: scaleDown 1s ease-in-out both;
  -moz-animation: scaleDown 1s ease-in-out both;
  -o-animation: scaleDown 1s ease-in-out both;
  -ms-animation: scaleDown 1s ease-in-out both;
  animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2{
  -webkit-animation: fadeOut 1s ease-in-out both;
  -moz-animation: fadeOut 1s ease-in-out both;
  -o-animation: fadeOut 1s ease-in-out both;
  -ms-animation: fadeOut 1s ease-in-out both;
  animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote{
  -webkit-animation: fadeOut 1s linear both;
  -moz-animation: fadeOut 1s linear both;
  -o-animation: fadeOut 1s linear both;
  -ms-animation: fadeOut 1s linear both;
  animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll{
  0% {-webkit-transform: translateX(500px) rotate(360deg);}
  100% {-webkit-transform: translateX(0px) rotate(0deg);}
}
@-moz-keyframes roll{
  0% {-moz-transform: translateX(500px) rotate(360deg); opacity: 0;}
  100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll{
  0% {-o-transform: translateX(500px) rotate(360deg); opacity: 0;}
  100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll{
  0% {-ms-transform: translateX(500px) rotate(360deg); opacity: 0;}
  100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll{
  0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
  100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp{
  0% {-webkit-transform: translateY(40px);}
  100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp{
  0% {-moz-transform: translateY(40px);}
  100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp{
  0% {-o-transform: translateY(40px);}
  100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp{
  0% {-ms-transform: translateY(40px);}
  100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp{
  0% {transform: translateY(40px);}
  100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-ms-keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes scaleDown{
  0% {-webkit-transform: scale(1);}
  100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes scaleDown{
  0% {-moz-transform: scale(1);}
  100% {-moz-transform: scale(0.5);}
}
@-o-keyframes scaleDown{
  0% {-o-transform: scale(1);}
  100% {-o-transform: scale(0.5);}
}
@-ms-keyframes scaleDown{
  0% {-ms-transform: scale(1);}
  100% {-ms-transform: scale(0.5);}
}
@keyframes scaleDown{
  0% {transform: scale(1);}
  100% {transform: scale(0.5);}
}
@-webkit-keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-moz-keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-o-keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@-ms-keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}


/* Media Queries for custom slider */

@media screen and (max-width: 660px) {
  .demo-1 .deco {
    width: 130px;
    height: 130px;
    margin-left: -65px;
    margin-bottom: 50px;
  }

  .demo-1 [data-icon]:after {
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 40px;
    margin: -55px 0 0 -55px;
  }

  .demo-1 .sl-slide blockquote {
    margin-bottom: -120px;
  }

  .demo-1 .sl-slide h2 {
    line-height: 22px;
    font-size: 18px;
    margin-bottom: -40px;
    letter-spacing: 8px;
  }

  .demo-1 .sl-slide blockquote p:before {
    line-height: 10px;
    width: 40px;
    height: 40px;
    font-size: 120px;
    left: -45px;
  }

  .demo-2 .sl-slider-wrapper {
    height: 500px;
  }

  .demo-2 .sl-slider h2 {
    font-size: 36px;
  }

  .demo-2 .sl-slider blockquote {
    font-size: 16px;
  }

}

/*slider css*/
/*media query start*/
@media only screen and (max-width: 769px) {
	.main header .main_header .fa-bars{display: block;}
	.main header .main_header .nav_bar{margin-top: 10px; display: none;}
	.main header .main_header .nav_bar li{width: 100%; line-height: 20px;}
	.main header .main_header .nav_bar a{width: 100%; padding: 10px; text-align: left;}
  .main .allpage_banner_domain{background-size: 100% 100%; height: 100%;}
}
/*media query over*/
.btn_subscribe{
background-color: #fff;
    border: solid 5px #fff;
    padding: 10px 20px;
    font-size: 18px;
    color: #FF802B;
    transition: all 0.4s;margin-top: 2%;
}
.ord_class_label{
    float: left;
    width: 26%;
}
.ord_class_text{
background: #fff none repeat scroll 0 0;
    color: #373737;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px 0 hsl(0, 0%, 93%) inset;
    margin-bottom: 10px;
    padding: 9px 12px;
    width: 69%;
    float: left;
}
.msg_po{
float: left;
    width: 100%;
    color: red;
	    margin-bottom: 2%;

}