.card-header:after {
display: inline-block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg) ;
  transition: all linear 0.25s;
  float: right;
  top: 0;
  margin-top: -2%;
  }   
[data-toggle="collapse"].collapsed.card-header:after {
  transform: rotate(0deg) ;
}
.card-header{
    background: #fff;
    padding: 2%;
}
.card-body{
    background: #fff;
    padding: 2%;
    text-align: left;
    border-top: 2px solid #000
}
a:focus, a:hover{
    color: #000;
    text-decoration: none;
}
/*.collapsed{
    text-align: left!important
}*/
.card-header h5{
    text-align: left
}
.note-editor {
  margin-bottom: 5rem !important;
}
.ticket-reply{
    margin-top: 2%;
    border: 1px solid #ff812d;
    border-top: none;
}
/*.user_date{
    background: #ff812d;
    padding: 1% 2%;
}
.user{
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}*/
.ticket-reply-messege{
    padding: 1% 2%;
}
.ticket-reply-messege p.mb-10{
    margin-bottom: 10px;
}
.rating{
    margin-bottom: 10px;
    position: relative;
    text-align: right;
    padding-right: 2%;
}
.rating .fa{
    font-size: 30px!important;
    transition: 1s;
}
.rating .active .fa-star{
    color: #ff812d;
}
.rating a .fa:hover{
    color: #ff812d;
}
.ip-address{
    padding: 1% 2%;
    border-top: 1px solid #000
}
.panel>.list-group .ticket-details-children {
    line-height: 20px;
}
.list-group-item {
    padding: 7px 15px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group .list-group-item, .panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.list-group .ticket-details-children .title1 {
    font-size: .9em;
    color: #999!important;
}

.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.ticket-reply {
    margin: 10px 0;
    padding: 0;
    border: 1px solid #efefef;
    background-color: #fff;
}
.ticket-reply .date {
    float: right;
    padding: 8px 10px;
    font-size: .8em;
}
.ticket-reply .user {
    padding: 5px 0;
    background-color: #f8f8f8;
}
.ticket-reply .message {
    padding: 12px 15px;
}
.ticket-reply .user i {
    float: left;
    font-size: 2.2em;
    padding: 2px 15px;
}
.ticket-reply .user .name {
    display: block;
    font-size: .9em;
}
.ticket-reply .user .type {
    display: block;
    font-weight: 700;
    font-size: .8em;
}
