.card-header:after {
display: inline-block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg) ;
  transition: all linear 0.25s;
  float: right;
  top: 0;
  margin-top: -2%;
  }   
[data-toggle="collapse"].collapsed.card-header:after {
  transform: rotate(0deg) ;
}
.card-header{
    background: #fff;
    padding: 2%;
}
.card-body{
    background: #fff;
    padding: 2%;
    text-align: left;
    border-top: 2px solid #000
}
a:focus, a:hover{
    color: #000;
    text-decoration: none;
}
.collapsed{
    text-align: left!important
}
.card-header h5{
    text-align: left
}
.note-editor {
  margin-bottom: 5rem !important;
}
.ticket-reply{
    margin-top: 2%;
    border: 1px solid #ff812d;
    border-top: none;
}
.user_date{
    background: #ff812d;
    padding: 1% 2%;
}
.user{
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}
.ticket-reply-messege{
    padding: 1% 2%;
}
.ticket-reply-messege p.mb-10{
    margin-bottom: 10px;
}
.rating{
    margin-bottom: 10px;
    position: relative;
    text-align: right;
    padding-right: 2%;
}
.rating .fa{
    font-size: 30px!important;
    transition: 1s;
}
.rating .active .fa-star{
    color: #ff812d;
}
.rating a .fa:hover{
    color: #ff812d;
}
.ip-address{
    padding: 1% 2%;
    border-top: 1px solid #000
}