div.error,label.error {font-size: 11px;color: red;font-weight: normal;}
.required {color:red;}
.table-bg {background: white;}
td.action {display: inline-flex;min-width: 75px;border-bottom: medium none;}
td.action p{display: inline-flex;padding: 0 1px;}
.radio-btn {width:30%;}
.add-work-time {margin-bottom: 5px;}
.select2-container--default .select2-selection--multiple .select2-selection__choice {color:black;}
.select2-selection__placeholder,.select2-selection__rendered {line-height: 21px !important;padding-left:0px !important;margin-top: 0px !important;}
.select2-container--default .select2-selection--single {border-radius: 0px !important;border-color:#d2d6de !important;height:32px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow {top:3px !important;}
.select2-search__field {padding-left:10px !important;}
.filter-section .filter-radio label {width:15%;}
.col-desc {max-width: 400px;}
.already-added-time {font-size: 12px;margin: 0;}
.already-added-time .table td,.already-added-time .table th{padding:2px;}
.iradio_minimal-blue {margin-right: 5px !important;}
.login-logo {margin-bottom: 0px;}


/*Loader*/
.loader-overlay{position:fixed;height:100%;width:100%;opacity:1;}
.loader-overlay{background:black;opacity:.7;z-index:9999;display:none;}
.loader-img{position:fixed;top:45%;left:45%;z-index:99999;display:none;opacity:1;}

.card-body {
    padding: 15px 30px 30px;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
}
.card {
    padding-bottom: 30px;
    border: none;
    height: 100%;
    background-color: initial;
}
.card {
    position: relative;
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

/*.form-group .form-control {
    height: 45px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #111111;
    border-radius: 4px;
    border: none;
    padding: 5px 15px;
}
.new-added-form .form-group label {
    margin-bottom: 12px;
    display: block;
}

.new-added-form .form-group .form-control {
    background-color: #f0f1f3;
    height: 39px;
}
.new-added-form .form-group {
    position: relative;
    margin-bottom: 2.3rem;
}*/
.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}
.alert {
    
    margin-bottom: 0px;
}
.text-light {
    color: #ffffff !important;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}


.btn-fill-xs {
    display: inline-block;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    /* padding: 5px 16px; */
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn-fill-lg {
    display: inline-block;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 5px 16px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.gradient-pastel-green {
    background: -webkit-gradient(linear, left top, right top, from(#43a047), to(#66bb6a));
    background: -webkit-linear-gradient(left, #43a047, #66bb6a);
    background: -o-linear-gradient(left, #43a047, #66bb6a);
    background: linear-gradient(to right, #43a047, #66bb6a);
}

.btn-gradient-yellow {
    background-color: #ffae01;
}
.breadcrumbs-area {
    padding: 10px 0 10px;
    position: relative;
    z-index: 1;
}
.breadcrumbs-area ul li {
    display: inline-block;
    color: #fea801;
    font-size: 16px;
    position: relative;
    margin-right: 15px;
    padding-right: 10px;
}
.font-normal {
    font-weight: 400;
}
.breadcrumbs-area ul li:before {
    content: "\f105";
	font-family: FontAwesome;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    right: -10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
    color: #fea801;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.new-added-form .form-group .btn-fill-lg {
    margin-right: 10px;
    margin-bottom: 10px;
}
.btn-hover-bluedark:hover {
    background: #042954;
}
.new-added-form .form-group .btn-fill-lg:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
.bg-blue-dark {
    background-color: #042954;
}
.btn-hover-yellow:hover {
    background: #042954;
}
.dataTables_wrapper .dataTables_paginate span a.paginate_button {
    border: 1px solid #ffae01;
    padding: 8px 18px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
    background: transparent;
    border-color: #ffae01;
}
